{erl_opts, [debug_info]}.

{deps, [
    {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.8.0"}}},
    {ulid, {git, "https://github.com/savonarola/ulid.git", {tag, "v0.1.0"}}}
]}.

{project_plugins, [erlfmt]}.

{erlfmt, [
    write,
    {files, "apps/**/*.{hrl,erl,src}"},
    {files, "rebar.config"},
    {files, "config/sys.config"}
]}.

{relx, [
    {release, {jerry, "0.1.0"}, [
        jerry_grammar,
        jerry_session,
        jerry_http,
        jerry_storage,
        jerry_reminder,
        sasl
    ]},

    {mode, dev},

    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"}
]}.

{profiles, [
    {prod, [
        {relx, [{mode, prod}]}
    ]}
]}.
