{erl_opts, [debug_info]}.

{deps, [
    {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.8.0"}}},
    {ulid, {git, "https://github.com/savonarola/ulid.git", {tag, "v0.1.0"}}},
    {hackney, {git, "https://github.com/benoitc/hackney.git", {tag, "1.16.0"}}},
    {jiffy, {git, "https://github.com/davisp/jiffy.git", {tag, "1.0.6"}}}
]}.

{project_plugins, [erlfmt]}.

{erlfmt, [
    write,
    {files, "apps/**/*.{hrl,erl,src}"},
    {files, "rebar.config"},
    {files, "config/*.config"}
]}.

{relx, [
    {release, {jerry, "0.1.0"}, [
        jerry_http,
        jerry_grammar,
        jerry_session,
        jerry_reminder,
        ulid,
        cowboy,
        hackney,
        jiffy,
        sasl
    ]},

    {vm_args, "./config/vm.args"}
]}.

{profiles, [
    {prod, [
        {relx, [
            {mode, prod},
            {sys_config, "./config/sys.config"}
        ]}
    ]},
    {dev, [
        {relx, [
            {mode, dev},
            {sys_config, "./config/sys-dev.config"}
        ]}
    ]}
]}.
