{erl_opts, [debug_info]}.

{deps, []}.

{project_plugins, [erlfmt]}.

{erlfmt, [
    write,
    {files, "{apps,lib}/**/*.{hrl,erl,src}"},
    {files, "rebar.config"}
]}.

{relx, [
    {release, {jerry, "0.1.0"}, [
        jerry,
        sasl
    ]},

    {mode, dev},

    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"}
]}.

{profiles, [
    {prod, [
        {relx, [{mode, prod}]}
    ]}
]}.
