[
    {jerry_http, [{port, 80}]},
    {kernel, [
        {logger_level, info},
        {logger, [
            {handler, default, logger_std_h, #{
                level => info,
                filters => [
                    {skip_progress_info, {fun logger_filters:progress/2, stop}}
                ],
                formatter => {
                    logger_formatter,
                    #{template => [time, " ", pid, " ", msg, "\n"]}
                }
            }}
        ]}
    ]}
].
