[
    {jerry_http, [
        {port, {{ http.port }}},
        {api_key, <<"{{ http.api_key }}">>}
    ]},
    {kernel, [
        {logger_level, {{ log.level }}},
        {logger, [
            {handler, default, logger_std_h, #{
                level => {{ log.level }},
                filters => [
                    {skip_progress_info, {fun logger_filters:progress/2, stop}}
                ],
                formatter => {
                    logger_formatter,
                    #{template => [time, " ", pid, " ", msg, "\n"]}
                }
            }}
        ]}
    ]}
].
